/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    -fx-border-color: green;

}

.button{
    
    -fx-border-color: seagreen;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    
}
