/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2018, 1:03:09 PM
    Author     : Computer
*/



.mainFxmlClass {

   
}

.searchBar{
    
    -fx-border-color: #cccccc;
    -fx-background-color: #cccccc;
    
}

.searchBar:hover>.glyph-icon{
    
    -fx-fill: white;
    
}

#infor_box{
    
    -fx-border-color:deepskyblue;
    -fx-border-width:1;
    -fx-border-radius: 5;
    -fx-background-color: #ccffcc;
     
    
}

#infor_box:hover{
    
    -fx-border-color:green;
    -fx-border-width:1;
    -fx-border-radius: 5;
    -fx-background-color: white;
    
     
    
}



.tableView{
    
    -fx-cell-size: 40px;
    
    
}

.table-view .table-cell{
    
    -fx-font-size:12px;          
   

}

.hbox_bar{
    
    -fx-background-color:skyblue;
        
    
}



/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.infor_layout{
    
    -fx-border-color: transparent;
    -fx-background-color:transparent;
    /* -fx-background-color: rgb(255.0, 255.0, 255.0);*/
    
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.5, 0.0,
        1.5);
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    
}

.infor_layout_one{
    
    
    
}


.infor_layout_one:hover>.glyph-icon{

-fx-opacity: 0.5;

    
    
}

.infor_hbox{
    
    -fx-border-color:lightgray;;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    
}
.combo-box{
    
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    
}
.text-field{
    
    -fx-border-color: transparent;
     -fx-background-color: transparent;
    
}
.button{
    
  -fx-border-radius: 5;
   -fx-background-radius: 5;  
    
}




